body {
    font-family: video,serif;
    font-weight: 400;
    font-style: normal;
}

body h1 {
    text-shadow: -2px 2px 5px black;
    color: white;
}

#background {
    background-image: url("images/background_source.png");
    background-color: #2e2d4d;
    box-shadow:-5px 5px rgba(0, 0, 0, 0.4);

}

.corner-links {
    text-shadow: -2px 2px 5px black;
    color: white;
}

#qlg_logo {
    max-width: 150px;
}

.test {
    border: red;
    border-width: 2px;
    border-style: solid;
}

.main {
    background-color: white;

}

table {
    background-color: white;
    box-shadow:-5px 5px rgba(0, 0, 0, 0.4);
}

div iframe {
    padding: 15px;
}